.contextmenu {
  margin: 0;
  background: #fff;
  z-index: 3000;
  list-style-type: none;
  padding: 5px 0;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;
  color: #333;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, .3);
}
.ul_li {
  margin: 0;
  padding: 7px 16px;
  cursor: pointer;
}
.ul_li:hover {
  background: #eee;
}